[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-crispy-forms = "*"
pillow = "*"
whitenoise = "*"
django-heroku = "*"
gunicorn = "*"
django-cloudinary-storage = "*"
psycopg2-binary = "*"
certifi = "*"
django-htmx = "*"
django-restframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
