{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'app/images/instagram.png' %}"
      type="image/x-icon"
    />
    <title>Login</title>
  </head>
  <body>
    <main>
      <div class="left">
        <img
          src="{% static 'users/images/login-signup.png'%}"
          alt="login-signup"
        />
      </div>
      <div class="right">
        <form method="POST">
          {% csrf_token %}
          <div class="word-logo">
            <img
              src="{% static 'app/images/instagram-word-logo.webp' %}"
              alt="instagram logo"
            />
          </div>
          <div class="fields">
            <p class="login-label">Username:</p>
            {{form.username}}

            <p class="login-label">Password:</p>
            {{form.password}}
          </div>
          <input type="submit" value="Sign In" />
          <p>
            don't have an account yet?
            <a href="{% url 'user-signup' %}">Sign Up</a>
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
