{% extends 'app/base.html' %}

<!-- load static -->
{% load static %}

<!-- stylesheet block -->
{% block style %}
<link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
{% endblock %}

<!-- title block -->
{% block title %}
<title>Home</title>
{% endblock %}

<!-- block content -->
{% block content %}
<div class="feed-view">
  <div class="latest">
    <h3>Latest</h3>
    <div class="latest-posts">
      {% if posts %}
      <!--  -->
      {% for post in posts %}
      <div class="image">
        <img
          class="display_image"
          src="{{post.0.image.url}}"
          alt="{{post.0.title}}"
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span class="likes-counter-svg" data-id="{{post.0.id}}"
                >{{post.0.likes}}</span
              >
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span class="comments-counter-svg" data-id="{{post.0.id}}">
                {{post.0.comments}}
              </span>
            </li>
          </ul>
        </div>
        <div class="image-modal">
          <p class="close">&times;</p>
          <div class="left">
            <img class="display_image" src="{{post.0.image.url}}" alt="" />
          </div>
          <div class="right">
            <div class="user">
              <div class="all-info">
                <div class="image-container">
                  <a href="{% url 'insta-user' post.0.user.username %}">
                    <div class="avatar">
                      <img
                        src="{{post.0.user.profile.image.url}}"
                        alt="{{post.0.user.username}}"
                      />
                    </div>
                  </a>

                  <div class="likes">
                    <div class="caption">{{post.0.caption}}</div>
                    <div class="data" class="like-and-display">
                      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                        <path
                          fill="#af2634"
                          d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                        />
                      </svg>

                      <!--  -->
                      <div class="likes-counter">
                        {% if post.0.likes == 1 %}
                        <span class="post-like-counter" data-id="{{post.0.id}}"
                          >{{post.0.likes}} Like</span
                        >
                        {% else %}
                        <span class="post-like-counter" data-id="{{post.0.id}}"
                          >{{post.0.likes}} Likes</span
                        >
                        {% endif %}
                      </div>

                      <!--  -->
                      <div class="likes-boolean">
                        {% if post.2 %}
                        <a
                          class="ajax-like-button"
                          data-id="{{post.0.id}}"
                          onclick="likeRequest('{{post.0.id}}', '{{csrf_token}}', event)"
                          >Unlike</a
                        >
                        {% else %}
                        <a
                          class="ajax-like-button"
                          data-id="{{post.0.id}}"
                          onclick="likeRequest('{{post.0.id}}', '{{csrf_token}}', event)"
                          >Like</a
                        >
                        {% endif %}
                      </div>

                      <!--  -->

                      <div class="follows-boolean">
                        {% if user.is_authenticated and user != post.0.user %}
                        <!--  -->
                        {% if post.1 %}
                        <a
                          class="ajax-follow-button"
                          data-id="{{post.0.user.id}}"
                          onclick="followRequest('{{user.username}}', '{{post.0.user.username}}', '{{csrf_token}}', '{{post.0.user.id}}')"
                          >Unfollow</a
                        >
                        {% else %}
                        <a
                          class="ajax-follow-button"
                          data-id="{{post.0.user.id}}"
                          onclick="followRequest('{{user.username}}', '{{post.0.user.username}}', '{{csrf_token}}','{{post.0.user.id}}')"
                          >Follow</a
                        >
                        {% endif %}
                        <!--  -->
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="all-comments" data-id="{{post.0.id}}">
                  {% if all_comments %}
                  <!--  -->
                  {% for comment in all_comments %}
                  <!--  -->
                  {% if comment.post.id == post.0.id %}
                  <div class="single-comment">
                    <a
                      href="{% url 'insta-user' comment.user.username %}"
                      class="username"
                      >@{{comment.user | lower }}</a
                    >
                    <br />
                    <p>{{comment.content}}</p>
                  </div>
                  {% endif %}
                  <!--  -->
                  {% endfor %}
                  <!--  -->
                  {% else %}
                  <div class="single-comment">
                    <p>There are no comments for this post.</p>
                  </div>
                  <!--  -->
                  {% endif %}
                </div>
              </div>
              <div class="user-comment">
                <form
                  method="post"
                  enctype="multipart/form-data"
                  onsubmit="updateComment('{{post.0.id}}', '{{csrf_token}}', event )"
                >
                  {% csrf_token %}
                  <textarea
                    name="comment_field"
                    class="comment_field"
                    required="true"
                    data-id="{{post.0.id}}"
                  ></textarea>

                  <input type="submit" value="Comment" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--  -->
      {% endif %}
    </div>
  </div>

  <div class="feed">
    <h3>My Feed</h3>
    <div class="feed-posts">
      <!-- test images -->
      {% if randomized_posts %}
      <!--  -->
      {% for post in randomized_posts %}
      <div class="image">
        <img
          class="display_image"
          src="{{post.0.image.url}}"
          alt="{{post.0.title}}"
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span class="likes-counter-svg" data-id="{{post.0.id}}"
                >{{post.0.likes}}</span
              >
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span class="comments-counter-svg" data-id="{{post.0.id}}">
                {{post.0.comments}}
              </span>
            </li>
          </ul>
        </div>
        <div class="image-modal">
          <p class="close">&times;</p>
          <div class="left">
            <img class="display_image" src="{{post.0.image.url}}" alt="" />
          </div>
          <div class="right">
            <div class="user">
              <div class="all-info">
                <div class="image-container">
                  <a href="{% url 'insta-user' post.0.user.username %}">
                    <div class="avatar">
                      <img
                        src="{{post.0.user.profile.image.url}}"
                        alt="{{post.0.user.username}}"
                      />
                    </div>
                  </a>

                  <div class="likes">
                    <div class="caption">{{post.0.caption}}</div>
                    <div class="data" class="like-and-display">
                      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                        <path
                          fill="#af2634"
                          d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                        />
                      </svg>

                      <!--  -->
                      <div class="likes-counter">
                        {% if post.0.likes == 1 %}
                        <span class="post-like-counter" data-id="{{post.0.id}}"
                          >{{post.0.likes}} Like</span
                        >
                        {% else %}
                        <span class="post-like-counter" data-id="{{post.0.id}}"
                          >{{post.0.likes}} Likes</span
                        >
                        {% endif %}
                      </div>

                      <!--  -->
                      <div class="likes-boolean">
                        {% if post.2 %}
                        <a
                          class="ajax-like-button"
                          data-id="{{post.0.id}}"
                          onclick="likeRequest('{{post.0.id}}', '{{csrf_token}}', event)"
                          >Unlike</a
                        >
                        {% else %}
                        <a
                          class="ajax-like-button"
                          data-id="{{post.0.id}}"
                          onclick="likeRequest('{{post.0.id}}', '{{csrf_token}}', event)"
                          >Like</a
                        >
                        {% endif %}
                      </div>

                      <!--  -->

                      <div class="follows-boolean">
                        {% if user.is_authenticated and user != post.0.user %}
                        <!--  -->
                        {% if post.1 %}
                        <a
                          class="ajax-follow-button"
                          data-id="{{post.0.user.id}}"
                          onclick="followRequest('{{user.username}}', '{{post.0.user.username}}', '{{csrf_token}}', '{{post.0.user.id}}')"
                          >Unfollow</a
                        >
                        {% else %}
                        <a
                          class="ajax-follow-button"
                          data-id="{{post.0.user.id}}"
                          onclick="followRequest('{{user.username}}', '{{post.0.user.username}}', '{{csrf_token}}','{{post.0.user.id}}')"
                          >Follow</a
                        >
                        {% endif %}
                        <!--  -->
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="all-comments" data-id="{{post.0.id}}">
                  {% if all_comments %}
                  <!--  -->
                  {% for comment in all_comments %}
                  <!--  -->
                  {% if comment.post.id == post.0.id %}
                  <div class="single-comment">
                    <a
                      href="{% url 'insta-user' comment.user.username %}"
                      class="username"
                      >@{{comment.user | lower }}</a
                    >
                    <br />
                    <p>{{comment.content}}</p>
                  </div>
                  {% endif %}
                  <!--  -->
                  {% endfor %}
                  <!--  -->
                  {% else %}
                  <div class="single-comment">
                    <p>There are no comments for this post.</p>
                  </div>
                  <!--  -->
                  {% endif %}
                </div>
              </div>
              <div class="user-comment">
                <form
                  method="post"
                  enctype="multipart/form-data"
                  onsubmit="updateComment('{{post.0.id}}', '{{csrf_token}}', event )"
                >
                  {% csrf_token %}
                  <textarea
                    name="comment_field"
                    class="comment_field"
                    required="true"
                    data-id="{{post.0.id}}"
                  ></textarea>

                  <input type="submit" value="Comment" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--  -->
      {% else %}
      <!--  -->
      <h3 style="font-weight: 400">
        Explore and follow some users to populate your feed . . .
      </h3>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
