{% extends 'app/base.html' %}

<!-- load static -->
{% load static %}

<!-- stylesheet block -->
{% block style %}
<link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
{% endblock %}

<!-- title block -->
{% block title %}
<title>Feed</title>
{% endblock %}

<!-- block content -->
{% block content %}
<div class="feed-view">
  <div class="latest">
    <h3>Latest</h3>
    <div class="latest-posts">
      {% if posts %}
      <!--  -->
      {% for post in posts %}
      <div class="image">
        <img
          class="display_image"
          src="{{post.0.image.url}}"
          alt="{{post.0.title}}"
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span>{{post.0.likes}}</span>
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span> 4k </span>
            </li>
          </ul>
        </div>
        <div class="image-modal">
          <p class="close">&times;</p>
          <div class="left">
            <img class="display_image" src="{{post.0.image.url}}" alt="" />
          </div>
          <div class="right">
            <div class="user">
              <div class="all-info">
                <div class="image-container">
                  <div class="avatar">
                    <img
                      src="{{post.0.user.profile.image.url}}"
                      alt="{{post.0.user.username}}"
                    />
                  </div>

                  <div class="likes">
                    <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                      <path
                        fill="#af2634"
                        d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                      />
                    </svg>
                    {% if post.likes == 1 %}
                    <span>{{post.0.likes}} Like</span>
                    {% else %}
                    <span>{{post.0.likes}} Likes</span>
                    {% endif %}
                    <a href="{% url 'insta-like' post.0.id %}">Like</a>
                    {% if user.is_authenticated and user != post.user %}
                    <!--  -->
                    {% if post.1 %}
                    <a href="{% url 'user-follow' post.0.user.username %}"
                      >Unfollow</a
                    >
                    {% else %}
                    <a href="{% url 'user-follow' post.0.user.username %}"
                      >Follow</a
                    >
                    {% endif %}
                    <!--  -->
                    {% endif %}
                  </div>
                </div>
                <div class="all-comments">
                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <br />
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <!-- test single comment -->
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="user-comment">
                <form action="">
                  <textarea name="" id="" cols="30" rows="10"></textarea>
                  <input type="submit" value="comment" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--  -->
      {% endif %}

      <!-- post images -->
      <!-- <div class="image">
        <img
          class="display_image"
          src="{% static 'app/images/insta-sample.png' %}"
          alt=""
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span>1.5k</span>
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span> 4k </span>
            </li>
          </ul>
        </div>
        <div class="image-modal">
          <p class="close">&times;</p>
          <div class="left">
            <img
              class="display_image"
              src="{% static 'app/images/insta-sample.png' %}"
              alt=""
            />
          </div>
          <div class="right">
            <div class="user">
              <div class="all-info">
                <div class="image-container">
                  <div class="avatar">
                    <img
                      src="{% static 'app/images/sam.jpeg' %}"
                      alt="userimage"
                    />
                  </div>

                  <div class="likes">
                    <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                      <path
                        fill="#af2634"
                        d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                      />
                    </svg>
                    <span>1.5k</span>
                    <a href="">Like</a>
                    <a href="">Follow</a>
                  </div>
                </div>
                <div class="all-comments">
                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <br />
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>

                  <div class="single-comment">
                    <a href="" class="username">username</a>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Similique, necessitatibus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="user-comment">
                <form action="">
                  <textarea name="" id="" cols="30" rows="10"></textarea>
                  <input type="submit" value="comment" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="feed">
    <h3>Feed</h3>
    <div class="feed-posts">
      <!-- test images -->
      <div class="image">
        <img
          class="display_image"
          src="{% static 'app/images/insta-sample-1.png' %}"
          alt=""
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span>1.5k</span>
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span> 4k </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- test images -->
      <div class="image">
        <img
          class="display_image"
          src="{% static 'app/images/insta-sample-1.png' %}"
          alt=""
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span>1.5k</span>
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span> 4k </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- test images -->
      <div class="image">
        <img
          class="display_image"
          src="{% static 'app/images/insta-sample-1.png' %}"
          alt=""
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span>1.5k</span>
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span> 4k </span>
            </li>
          </ul>
        </div>
      </div>

      <!-- test images -->
      <div class="image">
        <img
          class="display_image"
          src="{% static 'app/images/insta-sample-1.png' %}"
          alt=""
        />
        <div class="counters">
          <ul>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z"
                />
              </svg>
              <span>1.5k</span>
            </li>
            <li>
              <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                <path
                  fill="#fff"
                  d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8z"
                />
              </svg>
              <span> 4k </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
