{% extends 'app/base.html' %}

<!-- load static -->
{% load static %}

<!-- stylesheet block -->
{% block style %}
<link rel="stylesheet" href="{% static 'app/css/messages.css' %}" />
{% endblock %}

<!-- title block -->
{% block title %}
<title>Messages</title>
{% endblock %}

<!-- block content -->
{% block content %}
<div class="messages">
  {% if user_messages%}
  <div class="list">
    <ul>
      {% for message in user_messages %}
      <li>
        <div class="image">
          <img
            src="{{message.respondent.profile.image.url}}"
            alt="test image"
          />
        </div>
        <div
          class="info"
          onclick="viewThreadMessages('{{message.id}}', '{{csrf_token}}', '{{user.username}}', '{{message.respondent.username}}', '{{message.respondent.profile.image.url}}')"
        >
          <div class="name"><p>{{ message.respondent | title }}</p></div>
          <div class="last-in">
            <p>{{ message.last_in.content | truncatechars:30 }}</p>
          </div>
        </div>
        <div class="delete">
          <a href="{% url 'delete-thread' message.id %}">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="view">
    <div class="no-message">
      <div class="message-icon">
        <svg viewBox="0 0 21 21">
          <g fill="none" fill-rule="evenodd">
            <path
              stroke="#adadad"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.5 3.5a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2l-2.999-.001l-2.294 2.294a1 1 0 0 1-1.32.083l-.094-.083l-2.294-2.294L4.5 17.5a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2z"
            />
            <path
              fill="#adadad"
              d="M10.499 11.5c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1zm-4 0c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1zm8 0c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1z"
            />
          </g>
        </svg>
      </div>
      <div class="message-text">
        <p>Select any thread to view here . . .</p>
      </div>
    </div>

    <!-- <div class="thread-view">
      <div class="thread-messages">
        <div class="respondent">
          <div class="main">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo,
              rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Non at ab ipsam?
            </p>
          </div>
          <div class="dummy"></div>
        </div>
        <div class="user-messages">
          <div class="dummy"></div>
          <div class="main">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo,
              rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Non at ab ipsam?
            </p>
          </div>
        </div>
        <div class="reply">
          <form action="">
            <textarea name="reply-message" id="reply-message"></textarea>
            <input type="submit" value="Reply" />
          </form>
        </div>
      </div>
    </div> -->
  </div>
  {% else %}
  <div class="empty-messages">
    <div class="message-icon">
      <svg viewBox="0 0 21 21">
        <g fill="none" fill-rule="evenodd">
          <path
            stroke="#adadad"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 3.5a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2l-2.999-.001l-2.294 2.294a1 1 0 0 1-1.32.083l-.094-.083l-2.294-2.294L4.5 17.5a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2z"
          />
          <path
            fill="#adadad"
            d="M10.499 11.5c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1zm-4 0c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1zm8 0c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1z"
          />
        </g>
      </svg>
    </div>
    <div class="message-text">
      <p>
        You have no messages yet. Create connections and talk about anything!
      </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
