@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  padding: 5%;
}

main {
  height: 100%;
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    img {
      width: 35vw;
    }
  }

  .right {
    width: 50%;
    padding: 5% 7%;
    height: 100%;
    border-left: 0.1vw solid rgb(173, 173, 173);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .word-logo {
        margin-bottom: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 15vw;
        }
      }
      .fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        input {
          width: 100%;
          padding: 5% 10%;
          outline: none;
          border: 0.1vw solid rgb(173, 173, 173);
          border-radius: 0.3vw;
          margin: 3% 0;
          font-size: 0.8vw;
          &::placeholder {
            text-transform: lowercase;
          }
        }
      }
      input[type="submit"] {
        width: 100%;
        padding: 5% 10%;
        margin: 3% 0;
        outline: none;
        background-color: #0095f6;
        border: none;
        border-radius: 0.3vw;
        text-transform: capitalize;
        color: #fff;
        font-weight: 500;
        font-size: 0.9vw;
        cursor: pointer;
        &:hover {
          background-color: #26a8ff;
        }
      }
      p {
        text-transform: capitalize;
        font-size: 1vw;
        margin-top: 2%;
        a {
          color: #0095f6;
          font-weight: 500;
          text-decoration: none;
          &:hover {
            color: #26a8ff;
          }
        }
      }
    }
  }
}
