@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #3f3f3f;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // - - - left panel styling - - - //
  .left-panel {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: solid 0.1vw rgb(173, 173, 173);

    // logo styling
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 2%;
      }
      img {
        width: 6vw;
        margin-top: 1%;
      }
    }

    // avatar styling
    .avatar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      .image-container {
        width: 5.5vw;
        height: 5.5vw;
        padding: 1.5%;
        object-fit: cover;
        border-radius: 50%;
        border: 0.15vw solid transparent;
        background: linear-gradient(white, white) padding-box,
          linear-gradient(to left, rgb(168, 0, 168), rgb(243, 64, 10))
            border-box;
        img {
          object-fit: cover;
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    // user info styling
    .user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .names {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          margin-top: 5%;
          font-size: 1.1vw;
          font-weight: 500;
        }
        h2 {
          font-size: 0.9vw;
          font-weight: 500;
          background: linear-gradient(
            to left,
            rgb(168, 0, 168),
            rgb(243, 64, 10)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .info {
        padding: 0 5%;
        width: 100%;
        margin-top: 7%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        div {
          text-align: center;
          width: 25%;
          font-size: 0.8vw;
          p {
            color: #838383;
            letter-spacing: 0.03vw;
          }

          .count {
            font-weight: 700;
            color: #1a1a1a;
          }
        }
        .followers {
          border-right: solid 0.1vw rgb(173, 173, 173);
          border-left: solid 0.1vw rgb(173, 173, 173);
          width: 35%;
        }
      }
    }

    //nav-panel
    .nav-panel {
      padding-left: 15%;
      margin-top: 15%;
      width: 100%;

      ul {
        width: 100%;
        list-style: none;
        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 12% 0;
          font-size: 0.9vw;
          cursor: pointer;
          &:hover {
            background: linear-gradient(
              to left,
              rgb(168, 0, 168),
              rgb(243, 64, 10)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          svg {
            width: 1.5vw;
            margin-right: 5%;
          }
        }
      }
    }

    .logout-button {
      width: 100%;
      margin-top: 10%;
      padding-left: 15%;
      p {
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        svg {
          width: 1.5vw;
          margin-right: 5%;
        }
        a {
          text-decoration: none;
          font-size: 0.9vw;
          &:hover {
            background: linear-gradient(
              to left,
              rgb(168, 0, 168),
              rgb(243, 64, 10)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  // - - - main content styling - - - //
  .main-content {
    width: 80%;
    height: 90%;
    padding: 0 3%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.5vw;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(158, 158, 158, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid rgb(182, 191, 199);
    }

    // top-bar styling
    .top-bar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;

      // search styling
      .search {
        width: 50%;
        form {
          width: 100%;
          display: flex;
          input {
            padding: 2% 3%;
            outline: none;
            border: none;
            border-left: 0.1vw solid rgb(173, 173, 173);
            border-top: 0.1vw solid rgb(173, 173, 173);
            border-bottom: 0.1vw solid rgb(173, 173, 173);
            border-radius: 0.2vw 0 0 0.2vw;
            font-size: 0.9vw;
            color: rgb(173, 173, 173);
            &::placeholder {
              text-transform: capitalize;
              font-size: 0.8vw;
            }
          }
          button {
            padding: 2% 3%;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            border-right: 0.1vw solid rgb(173, 173, 173);
            border-top: 0.1vw solid rgb(173, 173, 173);
            border-bottom: 0.1vw solid rgb(173, 173, 173);
            border-radius: 0 0.2vw 0.2vw 0;
            background-color: transparent;
            cursor: pointer;
            svg {
              width: 1.1vw;
              height: 1.1vw;
            }
          }
        }
      }

      // user-action styling
      .user-actions {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
          width: 1.5vw;
          height: 1.5vw;
          margin-right: 5%;
          cursor: pointer;
        }

        button {
          padding: 1.5% 3%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 0.9vw;
          font-weight: 500;
          //   border: 0.1vw solid rgb(173, 173, 173);
          border: none;
          outline: none;
          border-radius: 0.2vw;
          color: #fff;
          background: linear-gradient(
            to left,
            rgb(168, 0, 168),
            rgb(243, 64, 10)
          );
          transition: 1s ease-in-out;
          &:hover {
            background: linear-gradient(
              to left,
              rgb(196, 2, 196),
              rgb(255, 78, 24)
            );
            transition: 1s ease-in-out;
          }
        }
      }
    }
  }
}
