.profile-view {
  margin-top: 3%;

  .profile-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 3%;
    li {
      font-weight: 500;
      font-size: 1.1vw;
      margin: 0 1%;
      cursor: pointer;
      text-transform: capitalize;
      &.active {
        background: linear-gradient(
          to left,
          rgb(168, 0, 168),
          rgb(243, 64, 10)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:hover {
        background: linear-gradient(
          to left,
          rgb(168, 0, 168),
          rgb(243, 64, 10)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .profile-posts {
    .coming-soon {
      font-size: 1.2vw;
      font-weight: 500;
      letter-spacing: 0.05vw;
    }
    .all-posts,
    .saved,
    .tagged {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      overflow: hidden;
      display: none;
      &.active {
        display: flex;
      }

      .image {
        animation: appear 0.5s ease-in-out;
        width: 18%;
        height: 13vw;
        border-radius: 0.5vw;
        position: relative;
        margin-right: 2%;
        border-radius: 0.5vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .counters {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          border-radius: 0.5vw;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.486);
          animation: appear 0.3s;
          display: none;

          ul {
            width: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 5%;
              svg {
                width: 1.2vw;
                height: 1.2vw;
                margin-right: 2%;
              }
              span {
                font-size: 0.85vw;
                color: #fff;
              }
            }
          }
        }

        .image-modal {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 3;
          background-color: rgba(0, 0, 0, 0.486);
          backdrop-filter: blur(0.2vw);
          padding: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          animation: appear 0.5s;
          display: none;

          .close {
            width: 3vw;
            height: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 14%;
            right: 8%;
            font-size: 1.3vw;
            color: #fff;
            background-color: rgb(92, 92, 92);
            cursor: pointer;
          }
          .left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .right {
            width: 50%;
            background-color: #fff;
            height: 100%;
            padding: 1.5% 2%;
            .user {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              .all-info {
                width: 100%;
                height: 75%;
                .image-container {
                  width: 100%;
                  height: 20%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  margin-bottom: 5%;
                  padding-bottom: 2%;
                  border-bottom: 0.05vw solid rgba(206, 206, 206, 0.466);
                  .avatar {
                    width: 4vw;
                    height: 4vw;
                    margin-right: 4%;
                    padding: 0.5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 0.15vw solid transparent;
                    background: linear-gradient(white, white) padding-box,
                      linear-gradient(
                          to left,
                          rgb(168, 0, 168),
                          rgb(243, 64, 10)
                        )
                        border-box;
                    img {
                      width: 100%;
                      border-radius: 50%;
                    }
                  }

                  .likes {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .data {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      svg {
                        width: 1.5vw;
                        height: 1.5vw;
                      }
                      span {
                        margin-left: 2%;
                        margin-right: 5%;
                        font-size: 0.9vw;
                      }
                      a {
                        margin: 0 2%;
                        padding: 1% 3%;
                        text-decoration: none;
                        background-color: #0095f6;
                        color: #fff;
                        border-radius: 0.2vw;
                        font-weight: 500;
                        font-size: 0.9vw;
                      }
                    }
                    .caption {
                      margin-bottom: 3%;
                      font-size: 0.9vw;
                    }
                  }
                }

                .all-comments {
                  width: 100%;
                  height: 70%;
                  padding: 0 5%;
                  overflow: auto;
                  &::-webkit-scrollbar {
                    display: none;
                  }
                  .single-comment {
                    margin-bottom: 5%;
                    a {
                      font-size: 0.9vw;
                      text-transform: capitalize;
                      text-decoration: none;
                      font-weight: 700;
                      line-height: 1.8vw;
                      &:hover {
                        background: linear-gradient(
                          to left,
                          rgb(168, 0, 168),
                          rgb(243, 64, 10)
                        );
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                      }
                    }
                    p {
                      font-size: 0.9vw;
                    }
                  }
                }
              }

              .user-comment {
                width: 100%;
                height: 25%;
                padding: 5%;
                form {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  width: 100%;
                  .errorlist,
                  label {
                    display: none;
                  }
                  textarea {
                    width: 100%;
                    height: 3vw;
                    outline: none;
                    border: 0.1vw solid rgb(173, 173, 173);
                    border-radius: 0.3vw;
                    padding: 3%;
                    margin-bottom: 2%;
                  }

                  input {
                    outline: none;
                    border: none;
                    padding: 1.5% 3%;
                    text-decoration: none;
                    background-color: #0095f6;
                    color: #fff;
                    border-radius: 0.2vw;
                    font-weight: 500;
                    font-size: 0.9vw;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
