.feed-view {
  margin-top: 3%;

  h3 {
    margin-bottom: 2%;
    font-size: 1.2vw;
  }
  .latest {
    width: 100%;
    .update {
      width: 100%;
      form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .update-label {
          font-weight: 700;
          margin-bottom: 3%;
        }
        .names {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .single {
            width: 48%;
            input {
              width: 100%;
              font-size: 0.9vw;
              margin: 1% 0;
              padding: 5% 10%;
              outline: none;
              border: 0.1vw solid rgb(173, 173, 173);
              border-radius: 0.2vw;
            }
          }
        }

        .picture {
          width: 100%;
          margin-top: 5%;

          p {
            margin-bottom: 2%;
          }
          input {
            margin: 1% 0;
            padding: 2%;
          }
        }

        .bio-update {
          width: 100%;
          margin-top: 2%;
          .update-label {
            margin-bottom: 1%;
          }

          textarea {
            width: 100%;
            height: 10vw;
            outline: none;
            border-radius: 0.2vw;
            border: 0.1vw solid rgb(173, 173, 173);
            padding: 3%;
            font-size: 0.9vw;
          }
        }
      }

      input[type="submit"] {
        padding: 2% 3%;
        margin-top: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0.9vw;
        font-weight: 500;
        //   border: 0.1vw solid rgb(173, 173, 173);
        border: none;
        outline: none;
        border-radius: 0.2vw;
        color: #fff;
        background: linear-gradient(
          to left,
          rgb(168, 0, 168),
          rgb(243, 64, 10)
        );
        transition: 1s ease-in-out;
        &:hover {
          background: linear-gradient(
            to left,
            rgb(196, 2, 196),
            rgb(255, 78, 24)
          );
          transition: 1s ease-in-out;
        }
      }
    }
  }
}

.toggle-add-post {
  display: none !important;
}
